
.hero__section {

  background: linear-gradient(90deg, #F1F2F6 45%, rgba(232, 231, 226, 0) 58%),
  url(../assets/img/360_F_240187494_14XpmIch1dBAt6yucIzQvx2GDhF5DcV5.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: right;
/* height: 100vh; */
padding:8rem 0 ;
/* overflow: hidden; */

}

.hero__text {
  color: #228B22;
  width: 50%;
  /* padding-top: 10rem ; */
}

.hero__text--paragraph {

  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.9rem;
  word-wrap: break-word;
  color:#000000;

  margin-bottom: 6rem;
}

.hero-btn {
  display: inline-block;
  margin-bottom: 13rem;
  padding:1.5rem 6rem;
  border-radius:2rem;
  border:0.1rem solid #000000;
  margin-bottom: 5rem;
}


/* features */

.features__container{
  width:95%;
  margin:0 auto;
  transform:translateY(-3rem);
  padding:3rem 2rem;
  border-radius:1rem;
  box-shadow:0 0.6rem 1rem  rgba(199, 199, 199, 0.719) ;
  background-color:rgba(255, 255, 255, 1);  
  justify-items:center; 
  row-gap: 2rem;
  /* z-index: 2; */
}

.commodities{
  /* align-items: center; */
  gap:2rem;
}

.feature--header{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.9rem;
   word-wrap: break-word;
   color: #1A1A1A;
   margin-bottom:0.5rem;
}

.feature--desc{
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 2.1rem;
  word-wrap: break-word;
  color: #999999;
}

/* Homepage about section */

.about__section{
  padding: 6rem 0 0 0 ;
}

.description__img{
  max-width:45%;
}

.description__img img{
  vertical-align:top;

}

.discription__text{
  padding:4rem 8rem;
}

.about__header{
  font-size:3.6rem;
}

.about__desc, 
.vision__desc{
  max-width: 50rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  color: #555555;
}

.about__desc:not(:last-child),
.vision__desc:not(:last-child){
  margin-bottom: 1.5rem;
}

.about__desc--btn{
  display: inline-block;
  padding: 1.5rem;
  margin-top: 2rem;
}

/* vision section */

.vision{
  justify-content:end;
}

.vision img{
  vertical-align:top;
}

.vision__img{
  order:2;
  max-width:50%;
}

.vision--text{
  width:60%;
}


/* product section */

.product__section{
  padding:11rem 0;
  background-color:#F5F5F5;;
}


.product__container{
  gap:4rem 1.8rem;
  margin-bottom:6rem;
}

.product__card{
  overflow:hidden;
  border-radius:1rem;
  height:100%;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.product__card:hover{
  transform: translateY(-2rem);
}


.product__card:hover .add_to--cart{
  background-color: #228B22;
  color: #FFFFFF;
}

.product__card:hover .add_to--cart svg{
  color: white;
}

.product__img img{
  width: 100%;
  vertical-align:top;
}

.product__information{
  padding:2rem;
  background-color:#FFFFFF;
}


.product__details{
 justify-content:space-between; 
 margin-bottom:0.5rem;
} 

.product__names{
  display:flex;
  flex-direction:column;
} 

.names{
  display:block;
  color: #101928;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 2.3rem;
  word-wrap: break-word
}

.product__price{
  font-family: 'Montserrat', sans-serif;
  font-size:1.8rem;
  font-weight:600;
}

.product__rating{
  gap:1rem;
  margin-bottom:1.5rem;
}


.rating__count{
  font-family: 'Montserrat', sans-serif;
   color: #1D2739;
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 2rem;
   word-wrap: break-word
}

.stars{
  width:1.8rem;
  height:1.8rem;
}

.add_to--cart{
 font-size: 1.4rem;
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 line-height: 2rem;
 word-wrap: break-word;
 color: #475367;
 padding :0.8rem 1.5rem;
 border-radius:1.8rem;
 border:0.1rem solid #475367;
 background-color:transparent;
 transition: all ease-in-out 0.1s;
}

.product--btn{
  display:inline-block;
  padding-left:4rem;
  padding-right:4rem;

}

/* FOR PRODUCT PAGE THIS CODE WILL APPLY */

.bg--green{
  background-color: #228B22;
  color: #FFFFFF;
}

/* FAQ section */

.faq__section{
  padding: 8rem 0;
}

.faq__header--text{
  max-width: 45rem;
}

.faq__img{
  padding:0 6rem 0 0;
  width:50%;
}

.questions{
  width:50%;
}

.question__header{
  justify-content:space-between;
  margin-bottom: 1rem;
}

.question__container:not(:last-child){
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #D9DBE9;
  margin-bottom: 3rem;
}


/* blog section */

.blog__section{
  background: linear-gradient(180deg, white 0%, #F2F5F3 63%);
  padding:10rem 0;
}

.blog--header{
  margin-bottom:6rem;
}


.blog__news{
  gap:4rem 2rem;
}

.news__card{
  border-radius:0.8rem;
  overflow:hidden;
}

.news__img img{
  width:100%;
  vertical-align:top;
}

.news__details{
  padding:2rem;
  background-color:#FFFFFF;
}

.news__category{
  gap:1rem;
  margin-bottom:1.5rem;
}

.category{
  color: #555555;
   font-size: 1.4rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   line-height: 2rem;
   word-wrap: break-word;
   background-color:#F1F3F7;
   padding:0.8rem 1rem;
   border-radius:0.8rem;
}

.news__date{
color: #555555;
 font-size: 1.2rem;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 line-height: 2rem;
 word-wrap: break-word;
}

.news__desc{
color: black;
 font-size: 2rem;
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 line-height: 2.8rem;
 word-wrap: break-word;
 margin-bottom:1.5rem;
}

.posters__details{
  gap:2rem;
  margin-bottom:1.5rem;
}

.posters__profile{
  max-width:5rem;
  background-color: #F1F3F7;
  padding:0.5rem 1rem 0.5rem 1rem;
  overflow:hidden;
  border-radius:50%;
}

.posters__name{
color: #555555;
 font-size: 1.4rem;
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 line-height: 2rem;
 word-wrap: break-word;
}

.news--btn{
  display:inline-block;
}


/* testimonial section */

.customers__review{
  padding:10rem 0;
}

.review__selection--btn button:not(:last-child){
  margin-bottom:1rem;
}

.review__selection--btn button{
  display:flex;
  align-items:center;
  justify-content:center;
   width:5rem;
   height:5rem;
  text-decoration:none;
  border:0.1rem solid #E6E6E6;
  border-radius:50%;
  padding:1rem;
  color:#1A1A1A;
}

.review__selection--btn button:hover{
  background-color:#228B22;
  color:#FFFFFF;
}

.review__section{
  gap:4rem;
  padding:2rem;
}

.review__card svg{
  margin-bottom:1rem;
}

.customer__review--header,
.customer__profile--review{
  justify-content:space-between;
}

.comments{
color: #4D4D4D;
 font-size: 1.6rem;
 font-weight: 400;
 line-height: 2.5rem;
 word-wrap: break-word;
 margin-bottom:2rem;
}

.profile{
  gap:1rem;
}

.profile__img img{
  width:4rem;
  height:4rem;
  border-radius:50%;
}

.profile--name{
color: #1A1A1A;
 font-size: 1.2rem;
 font-weight: 800;
 line-height: 1.8rem;
 word-wrap: break-word;
}

.profile--status{
  display:block;

  color: #999999;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   word-wrap: break-word;
}

.review--stars{
  width:2rem;
}


/* contact us section */

.contact__field{
  padding:6rem;
  background-color:#228B22;
}

.contact__instruction{
  margin-bottom:2.5rem;
}


/* footer section */

.footer{
  padding:8rem;
  background: linear-gradient(116deg, #F1FBF2 0%, #C0E8D0 100%);
}

.footer__container{
  gap:8rem;
}

.footer__description,
.call--header,
.c-number,
.policy{
 color: black;
 font-size: 1.4rem;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 line-height: 2.3rem;
 word-wrap: break-word;
}

.footer__description,
.footer__call--contact{
  margin-bottom:3rem;
  gap:2rem;
}

.call--header{
  font-weight:600;
}

.c-number{
  display:block;
  font-size:1.4rem;
}

.privacy{
  display:inline-block;
  margin:0 2rem 1rem 0;
}

.footer__nav--links{
  display:flex;
  justify-content:center;
  gap:2rem;
  /* width:100%; */
}

.resource_links,.quick_links{
  flex-grow:1;
}

.footer__link{
  display:block;
  font-size:1.4rem;
  font-weight:500;
  text-decoration:none;
  color:#000000;
}

.footer__link:not(:last-child){
  margin-bottom:2rem;
}

.footer__input{
  justify-content:space-between;
  padding:1.3rem 1.2rem;
  border-radius:3rem;
  margin-bottom:3rem;
  background-color:#FFFFFF;
}

.footer__input input{
  font-size:1.6rem;
  border:none;
  outline:none;
  /* padding:1.5rem 0; */
}

.footer__socials{
  gap:1.8rem;
  /* justify-content:center; */
}

.icons{
  width:2.4rem;
}

.socials{
  display:flex;
  border:0.1rem solid #000000;
  border-radius:50%;
  padding:0.8rem;
}

.copywrite{
  background-color:#228B22;
 text-align:center;
 padding:1.5rem 0;

}

.copywrite span{
  color: white;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 500;
 text-transform: capitalize;
 /* line-height: 75px; */
 word-wrap: break-word;
}



/* media query */


@media only screen and (max-width: 990px){

  .hero__section {

    background: linear-gradient(90deg, #F1F2F6 53%, rgba(232, 231, 226, 0) 65%),
    url(/assets/img/360_F_240187494_14XpmIch1dBAt6yucIzQvx2GDhF5DcV5\ 1\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100%;
  
      
    }
  .hero__text {
    width: 60%;
    /* padding-top: 10rem ; */
  }
  
}

@media only screen and (max-width: 984px){
  
  
}

@media only screen and (max-width: 962px){
  .faq__section{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero__text {
    width: 60%;
  }
}

@media only screen and (max-width: 944px){
  
  
  .hero__section {
   
  background: linear-gradient(90deg, #F1F2F6 58%, rgba(232, 231, 226, 0) 68%),
  url(/assets/img/360_F_240187494_14XpmIch1dBAt6yucIzQvx2GDhF5DcV5\ 1\ \(1\).png);
background-repeat: no-repeat;
background-size: cover;
background-position: right;

} 
   
} 

@media only screen and (max-width: 844px){

 

.hero__section {
     background: linear-gradient(90deg, #f1f2f6 60%, rgba(232, 231, 226, 0) 68%),
        url(/assets/img/360_F_240187494_14XpmIch1dBAt6yucIzQvx2GDhF5DcV5\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
   } 
   .heading__primary {
    font-size: 3.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 5rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
  }

  .hero-btn{
    margin-bottom: 3rem;
  }

  

  
}

@media only screen and (max-width: 839px){
  

  .discription__text{
    padding: 4rem;
  }

}

@media only screen and (max-width: 722px){



  
   
  /* .hero__section {
    background: linear-gradient(150deg, #f1f2f6 55%, rgba(232, 231, 226, 0) 70%),
        url(/assets/img/360_F_240187494_14XpmIch1dBAt6yucIzQvx2GDhF5DcV5\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    } */

}


@media only screen and (max-width: 700px){
  .discription__text{
    padding: 2rem;
  }

  .heading__small{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 670px){
  .hero__text{
    width: 70%;
  }
}


@media only screen and (max-width: 600px){
  .hero__section{
    background: linear-gradient(155deg, #F1F2F6 63%, rgba(232, 231, 226, 0) 85%),
  url(/assets/img/360_F_240187494_14XpmIch1dBAt6yucIzQvx2GDhF5DcV5\ 1\ \(1\).png);
background-repeat: no-repeat;
background-size: cover;
background-position: right;
  }
 
  .hero__text{
  width: 100%;
  text-align: center;
 }

  .about__us{
    flex-direction: column;
  }

  .description__img {
    max-width: 100%;
    padding-left:2rem;
    padding-right:2rem;
  }
  .description__img img{
    border-radius:0.8rem;
  
  }

  .discription__text{
    padding: 3rem 4rem;
  }

  .vision{
    flex-direction: column-reverse;
    padding-left:2rem;
    padding-right:2rem;
  }
  .vision__img img{
    /* max-width: 100%; */
    border-radius:0.8rem;

  }

  .vision__img{
    max-width: 100%;
  }

  .vision--text{
    width: 100%;
    padding:3rem 4rem;
  }

  .blog__section{
    padding-top: 4rem;
  }

  .faq{
    flex-direction: column;

  }

  .questions,.faq__img{
    width: 100%;
  }

  .faq__img{
    padding: 0;
    justify-self: center;
    padding-bottom: 4rem;
  }

  .faq__img img{
    display: block;
    align-self: center;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 505px){
  
  .features__container{
    width: 90%;
  }

  .commodities{
   width: 65%;
   margin: 0 auto;
  }
  
  
  .feature__details{
  width: 100%;
  }
  .footer{
  padding: 3rem 2rem;
  }

  .copywrite{
    padding: 2rem;
  }
}

@media only screen and (max-width: 494px){
  .heading__primary {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media only screen and (max-width: 429px){
  .heading__primary {
    font-size: 3.4rem;
    line-height: 5rem;
  }

  .hero__text--paragraph {

    font-size: 1.8rem;
    line-height: 2.9rem;
    margin-bottom: 4rem;
  }
  
}

@media only screen and (max-width: 374px){
  
  .commodities{
   width: 100%;
   padding-left: 2rem;
  }
  
}

@media only screen and (max-width: 370px){
  
  .heading__primary {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero__text--paragraph {

    font-size: 1.6rem;
    line-height: 2.9rem;
  }
}

@media only screen and (max-width: 318px){
  
  .heading__primary {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .hero__text--paragraph {

    font-size: 1.6rem;
    line-height: 2.9rem;
  }

  .commodities{
    width: 100%;
    padding-left: 0;
   }
}
