
.investment__section{
  padding: 8rem 0;
  
}

.investment__info{
  font-family:'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.3rem;
  word-wrap: break-word;
  color: #6D758F;
  margin-bottom: 3rem;

}

.investment{
  max-width:90rem;
  margin:0 auto;
  display: grid;
  /* grid-template-columns:  1f; */

  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
  /* margin-bottom: 8rem; */
  
}

.investment__plans{
  border:0.1rem solid #F1F3F7;
  border-radius: 0.8rem;
  padding: 3rem;
  background-color:rgba(255, 255, 255, 1);
  transition: all ease-in-out 0.3s;
}

.investment__plans:hover{
  color: #FFFFFF !important;
  background-color: #228B22;
}

.investment__plans:hover .color {
  color:#FFFFFF
}

.plan--1:hover,
.plan--2:hover,
.plan--3:hover,
.plan--5:hover{
box-shadow: 0px 0px 1.8rem rgba(0, 38.25, 2.55, 0.08);
  transform: translateY(-2rem);
}

.plan__details{
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #F1F3F7;
}

.plan--header,
.plan--price,
.plan--description{
  display: block;
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
 margin-bottom: 1rem;
  color: black;
}

.plan--header{
 font-size: 1.7rem;
 font-weight: 700;
 line-height: 2.3rem;
}

.plan--price{
 font-size: 3.4rem;
 line-height: 3.8rem;
}

.plan--description{
 font-size: 1.6rem;
 line-height: 2.3rem;
}

.plan--4{
  grid-column: 1 / span 2;
  color: #FFFFFF !important;
  background-color: #228B22;
}

.plan--4 h4,
.plan--4 span{
  color: #FFFFFF;

}

/* btn */

.plan__subscription--btn{
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border:0.1rem solid #E1E4ED ;
  background: linear-gradient(116deg, #F1FBF2 0%, #F1FBF2 0%);
  /* transition: all ease-in 8000000ms; */
  cursor: pointer;
}




/* media query */

@media only screen and (max-width: 900px){
  
  .investment,
  .investment__info{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}
@media only screen and (max-width: 780px){
  
  .plan--price{
    font-size: 3rem;
  }

  .plan--description{
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 740px){
  .investment__section{
    padding: 5rem 0;
  }

  .investment{
    display: block;
  }

  .investment__plans:not(:last-child){
    margin-bottom: 2rem;
  }

  .plan__details{
   text-align:center;
  }

  .plan--price{
    font-size: 3.5rem;
  }

  .plan--description{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 380px){
  .investment__info br{
   display: none;
  } 
  
  .plan--header{
    font-size: 1.6rem;
   }

  .plan--price{
    font-size: 3rem;
  }

  .plan--description{
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 338px){
  .plan--price{
  font-size: 2.4rem;
   }
}
  .plan--description{
  font-size: 1.3rem;
   }
}